@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: lobster;
    src: url(fonts/Lobster-Regular.ttf);
}
@font-face {
    font-family: museo;
    src: url(fonts/MuseoSans_700.ttf);
}
@font-face {
    font-family: blaak;
    src: url(fonts/BlaakBlack_PERSONAL.ttf);
}

body {
    margin: 0;
    background-color: #f2f3f8;
}

/*LOGIN*/
#form {
    width: 40%;
    margin: 0px auto;
    font-family: 'roboto';
    color: rgb(0, 0, 28);
    background-color: white;
}

.inputfield {
    width: 80%;
    display: block;
    margin: 0px auto;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgba(198, 198, 198, 0.614);
}

#form input[type='checkbox'] {
    margin-left: 10%;
}

#form label {
    display: block;
    margin-left: 10%;
}

#form button {
    width: 120px;
    height: 40px;
    font-family: 'roboto';
    border: none;
    display: block;
    margin: 40px auto;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    background-color: #FBAB7E;
}

#form h1 {
    text-align: center;
    font-size: 20px;
}

#noAccountLink {
    text-decoration: none;
    color: rgb(0, 0, 28);
    text-align: center;
    display: block;
    margin: 0px auto;
}

#forgotLink {
    text-decoration: none;
    color: rgb(0, 0, 28);
    float: right;
    display: block;
    margin-right: 10%;
}

#logo_mini {
    width: 5%;
    display: block;
    background-color: red;
    margin: 30px auto;
    background-color: #FBAB7E;
    border-radius: 20px;
}

#error {
    color: #D8000C;
    background-color: #FFBABA;
    height: 50px;
    width: 80%;
    margin: 40px auto;
    font-size: 15px;
    padding: 7px;
}



/*NAVIGATION*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'museo';
}
.nav_left{
    float: left;
    margin-top: 10px;
    margin: 0px 0px 0px 5%;
    width: 25%;
}
.logo{
    width: 25%;
    margin-top: 10px;
    text-align: center;
}
.nav_left ul{
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}
.nav_left ul li{
    display: inline-block;
    margin-right: 6%;
}
.nav_left ul li a{
    text-decoration: none;
    color: black;
}
    
.nav_right {
    float: left;
    text-decoration: none;
    margin: 0px 5% 0px 0px;
    width: 25%;
}

.nav_btn {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 8px 35px;
    margin-left: 10px;
    font-family: 'roboto';
    font-size: 100%;
    width: 20%;
    color: black;
    float: right;
    text-align: center;
    transition: 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



.nav_btn:nth-child(2) {
    background-color: #C0FD00;
    color: #0600FE;
    border: 4px solid #C0FD00;
}

.nav_btn:nth-child(2):hover {
    background-color: #b5db37;
    color: #4945fd;
    border: 4px solid #7ca005;
}

.nav_btn:nth-child(1) {
    border: 4px solid black;
}

.nav_btn:nth-child(1):hover {
    background-color: #f2f2f2;
}

/*CONTENT PAGE*/
h1{
    text-align: center;
    font-family: 'blaak';
    width: 32%;
    margin: 100px auto;
}


/*EDIT PROFILE*/
.profilePicture {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

.profile_info {
    width: 500px;
    padding: 1rem;
}

.profile_info input {
    margin: .2rem 0;
}


/*UPLOAD PROJECT*/

.uploadzone {
  width: 80%;
  margin: 0 auto;
  height: 500px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  background-color: #eeeeee; ;
  border: 4px dashed #C0FD00;
  border-radius: 10px;
  position: relative;
}
.uploadzoneHover {
  border-style: solid;
}
.uploadzoneInput {
  display: none;
}
.uploadzonePreview {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
  position: absolute;
}
.uploadzonePreview::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}


.inputFields{
    width: 80%;
    margin: 30px auto;
}
.inputField1{
    width: 100%;
    padding: 10px 25px;
    border: 4px solid #0600FE;
} 
.inputField2{
    width: 100%;
    padding: 10px 25px;
    height: 300px;
    border: 4px solid #0600FE;
    margin-top: 20px;
}
.tagField{
    display: flex;
    align-items: flex-end;
}    
.tagsInput{
    width: 100%;
    padding: 10px 25px;
    border: 4px solid #0600FE;
    margin-top: 20px;
}
.tagsInput:read-only {
    background-color: #0600FE;
    color: white;
    font-size: 20px;
}
.add_button{
    background-color: #0600FE;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-family: "blaak";
    font-weight: bolder;
    width: 30%;
    display: block;
    margin: 0px auto;
    height: 40px;
    line-height: 40px;
}
.remove_button {
    background-color: #0600FE;
    color: white;
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    font-family: "blaak";
    font-weight: bolder;
    width: 51px;
    height: 51px;
    float: right;
}
.postButton{
    background-color: #D8000C;
    margin-top: 40px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 18px 55px;
    font-family: 'roboto';
    font-size: 100%;
    width: 50%;
    color: black;
    display: block;
    margin: 100px auto;
    color: #0600FE;
    background-color: #C0FD00;
    border: none;
}

/*POSTS FEED*/
.posts {
    display: flex;
    flex-flow: row wrap;
    margin: 2em;
    justify-content: center;
}

.post {
    margin: 1em 4em;
}

.post_userinfo {
    display: flex;
    font-family: 'museo';
}

.profilePicture_small {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

.post_image {
    width: 250px;
    height: 200px;
    margin-bottom: 20px;
    object-fit: cover;
}

.post_username {
    padding-left: 1em;
}

.pages {
    text-align: center;
    margin: 2em 0em;
}